.git
.gitignore
.cache-go
.gomodcache
.claude

.env
*.csv
*.exe
*.pkl

frontend/node_modules
frontend/dist
node_modules

infra/**/.terraform
infra/**/*.tfstate
infra/**/*.tfstate.backup
infra/**/terraform.tfvars

docs
test
